body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
}
h1{
    color:cadetblue
}

form{
    background-color: bisque;;
    text-align:center;
    max-width:350px;
    margin:auto;
    padding:25px;
    border-radius:10px;
    box-shadow:5px 5px 10px;
}
#textBox{
    width:50%;
    text-align:center;
    font-size:200%;
    border:cadetblue solid 3px;
    margin-bottom:15px;
}
label{
    font-size:1em;
    font-weight: bold;
}
button{
    margin-top:15px;
    background-color:white;
    font-size:1em;
    font-weight: bold;
    border: cadetblue 2px solid;
    padding-right:15px;
    padding-left:15px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 5px;;
    cursor:pointer;
    transition:opacity 0.15;
}
button:hover{
    opacity:0.75;
}
#result{
    font-weight:bold;
    font-size:1em;
}
